<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>コトバをお焚き上げしました</title>
<!-- CSS -->
<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/animation.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="otakiagefire">
<img th:src="@{/img/honoo_hi_fire.png}" alt="炎の画像" title="お焚き上げの画像">
</div>
<div class="page-btn">
<a class="senni-btn" href="/training/guchi">もう一回</a>
<a class="senni-btn" href="/training/">トップへ</a>
</div>
</body>
</html>