@charset "UTF-8";

.otakiagefire {
animation-name: otakiagefire;
animation-fill-mode:forwards;
animation-duration:3s;
animation-timing-function:ease;
animation-delay: 2s;
animation-direction:normal;
}

@keyframes otakiagefire {
	0%{
		 opacity: 0;
  	}
  	
  	20%{
		 opacity: 0.2;
  	}
  	
  	40%{
		 opacity: 0.4;
  	}

  	60%{
		 opacity: 0.6;
  	}
  	
  	80%{
		 opacity: 0.8;
  	}
  	
  	100%{
		 opacity: 1;
  	}
  	
}

.otakiagefire{
	text-align: center;
}